.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.block-class {
  padding: 20px;
  /* border-style: solid; */
  /* border-color: grey; */
  /* border-width: 2px; */
  height: 160px;
  margin-bottom: 10px;
}
.avatar-class {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 20px;
}
.ml-20 {
  margin-left : 20px;  
}
.title-class {
  align-self: auto;
  margin-bottom : 30px;
  margin-top : 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
